?# Gradle
.gradle/
build/
**/build/

# IntelliJ IDEA
.idea/workspace.xml
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/dictionaries/
.idea/shelf/
.idea/sonarlint/
.idea/copilot*.xml
.idea/uiDesigner.xml
.idea/dbnavigator.xml
*.iws
out/

# Compiled files
*.class
*.jar
!gradle-wrapper.jar

# OS files
.DS_Store

# Database
*.db
*.db-journal

